<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Character Manager</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="css/main.css">
    <link href="https://fonts.googleapis.com/css2?family=David+Libre:wght@400;700&family=Montserrat:wght@200&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/d8f5f7035a.js" crossorigin="anonymous"></script>
 
    
</head>
<body>
<form action="/postCharacter" method="POST"> 
    <header>
        <div>
            <h1>Character Manager</h1>
            
        </div>
        <div>
            <a href="auth/logout">
                <button type="button">Logout</button>            
            </a>
        </div>
        <div>
            <input type="submit" name="" value="save" class="btn" id="formSubmit">            
        </div>       
            
               
    </header>

<section class="main" id="main-container">
    <!------------>
    
    <div class="left-side-bar">
        <fieldset>           
            <div>Ancestry:</div>        
                <div>
                    <input class="larger-input" type="text" placeholder="" name="ancestry" value="<%= characterData[0].ancestry || 'empty' %>">
                </div>
            <div>Heritage:</div>
                <div>
                    <input class="larger-input" type="text" placeholder="" name="heritage">
                </div>
            <div>Background:</div>
                <div>
                    <input class="larger-input" type="text" placeholder="" name="background">
                </div>
            <div>Ancestry Ability:</div>
                <div>
                    <input class="larger-input" type="text" placeholder="" name="ancestryAbility">
                </div>                    
            <div>Class:</div>
                <div>
                    <input class="larger-input" type="text" placeholder="" name="class">
                </div>                    
            <div>Background Ability:</div>
                <div>    
                    <textarea  id="" cols="20" rows="5" name="backgroundAbility"></textarea>                
                </div>
            <div>Deity:</div>
                <div>             
                    <input class="larger-input" type="text" name="deity" placeholder=""> 
                </div>
            
                 <div class="title-div">
                        <span class="titles">Skills</span>    
                    </div>
        </fieldset> 
    
            <section class="skills-container">
               
                <!-- <div class="skills-cont-1"> -->
                    <div>                 
                        <span>Acrobatics =</span>
                        <input class="number-input" name="acrobatics" type="number">
                    </div>
                    <div>                 
                        <span>Arcana =</span>
                        <input class="number-input" type="number" name="arcana">
                    </div>
                    <div>                 
                        <span>Athletics =</span>
                        <input class="number-input" type="number" name="athletics">
                    </div>
                    <div>                 
                        <span>Crafting =</span>
                        <input class="number-input" type="number" name="crafting">
                    </div>
                    <div>                 
                        <span>Deception =</span>
                        <input class="number-input" type="number" name="deception">
                    </div>
                    <div>                 
                        <span>Diplomacy =</span>
                        <input class="number-input" type="number" name="diplomacy">
                    </div>
                    <div>                 
                        <span>Intimidation =</span>
                        <input class="number-input" type="number" name="intimidation">
                    </div>
                    <div>
                        <input class="lore-type" type="text" name="firstLore">                 
                        <span>Lore =</span>
                        <input class="number-input" type="number" name="firstLoreB">
                    </div>
                    <div>
                        <input class="lore-type" type="text" name="secondLore">                 
                        <span>Lore =</span>
                        <input class="number-input" type="number" name="secondLoreB">
                    </div>
                <!-- </div> -->
        
                <!-- <div class="skills-cont-2"> -->
                    <div>                 
                        <span>Medicine =</span>
                        <input class="number-input" type="number" name="medicine">
                    </div>
                    <div>                 
                        <span>Nature =</span>
                        <input class="number-input" type="number" name="nature">
                    </div>
                    <div>                 
                        <span>Occultism =</span>
                        <input class="number-input" type="number" name="occultism">
                    </div>
                    <div>                 
                        <span>Performance =</span>
                        <input class="number-input" type="number" name="performance">
                    </div>
                    <div>                 
                        <span>Religion =</span>
                        <input class="number-input" type="number" name="religion">
                    </div>
                    <div>                 
                        <span>Society =</span>
                        <input class="number-input" type="number" name="society">
                    </div>
                    <div>                 
                        <span>Stealth=</span>
                        <input class="number-input" type="number" name="stealth">
                    </div><div>                 
                        <span>Survival =</span>
                        <input class="number-input" type="number" name="survival">
                    </div><div>                 
                        <span>Thievery =</span>
                        <input class="number-input" type="number" name="thievery">
                    </div>
                <!-- </div> -->          
            </section>

    <!-- levels -->
    <section class="level-container">
    <div>
        <button type="button">Level 1</button>
    </div>
    <div>
        <button type="button">Level 2</button>
    </div>
    <div>
        <button type="button">Level 3</button>
    </div>
    <div>
        <button type="button">Level 4</button>
    </div>
    <div>
        <button type="button">Level 5</button>
    </div>
    <div>
        <button type="button">Level 6</button>
    </div>
    <div>
        <button type="button">Level 7</button>
    </div>
    <div>
        <button type="button">Level 8</button>
    </div>
    <div>
        <button type="button">Level 9</button>
    </div>
    <div>
        <button type="button">Level 10</button>
    </div>
    <div>
        <button type="button">Level 11</button>
    </div>
    <div>
        <button type="button">Level 12</button>
    </div>
    <div>
        <button type="button">Level 13</button>
    </div>
    <div>
        <button type="button">Level 14</button>
    </div>
    <div>
        <button type="button">Level 15</button>
    </div>
    <div>
        <button type="button">Level 16</button>
    </div>
    <div>
        <button type="button">Level 17</button>
    </div>
    <div>
        <button type="button">Level 18</button>
    </div>
    <div>
        <button type="button">Level 19</button>
    </div>
    <div>
        <button type="button">Level 20</button>
    </div>



    </section>

    </div>       

    <!---Chacter Name----->
<section class="main-container-right">

    <div class="char-container">
            <div class="text-border">          
                <div>Character Name</div>                
                    <div class="mouse-out" id="mouse-out">
                        <input class="larger-input" name="charName" type="text">
                    </div> 
            </div>
            <div class="text-border">                  
                <div>Player Name</div>
                    <div>     
                        <input class="larger-input" type="text" name="playerName">   
                    </div>
            </div> 
            <div class="text-border">                
                <div>Level</div>
                    <div>
                        <input class="number-input" type="number" placeholder="" name="level">            
                    </div> 
            </div>
            <div class="text-border">                
                <div>XP</div>
                    <div>
                        <input class="number-input" type="number" placeholder="" name="xp">
                    </div>
            </div>

            <div class="text-border">                 
                <div>Hero Points</div>
                    <div class="hero-points-div">
                        <input type="checkbox" name="heroCheck" value="onePoint"> <!-- % if (character.onePoint === true) { checked } %> --> 
                        <input type="checkbox" name="heroCheck" value="twoPoint">  
                        <input type="checkbox" name="heroCheck" value="threePoint">        
                    </div>
            </div>

            <div class="text-border">    
                <div>Size</div>
                   <select name="size">                   
                        <option value="tiny">Tiny</option>
                        <option value="small">Small</option>
                        <option value="medium">Medium</option>
                        <option value="large">Large</option>
                        <option value="huge">Huge</option>
                        <option value="gargantuan">Gargantuan</option>
                    </select>                                   
            </div>        
        
            <div class="text-border">        
                <div>Alignment</div>
                    <select name="alignment" id="">
                        <option value="lg">LG</option>
                        <option value="ln">LN</option>
                        <option value="le">LE</option>
                        <option value="ng">NG</option>
                        <option value="tn">TN</option>
                        <option value="ne">NE</option>
                        <option value="cg">CG</option>
                        <option value="cn">CN</option>
                        <option value="ce">CE</option>
                    </select> 
            </div>
            <div class="text-border"> 
                <div>Traits</div>
                    <div>
                        <input class="traits" type="text" placeholder="" name="traits">           
                    </div>
            </div>
    </div>

   <!-- Hit Points -->
    <div class="hp-container">
            <div class="text-border">              
                <div>HP</div>                   
                    <div>
                        <input class="number-input" type="number" name="hp">
                    </div>
            </div>
            <div class="text-border">             
                <div>Current</div>                    
                    <div>
                        <input class="number-input" type="number" name="currentHP">
                    </div>
            </div>

            <div class="text-border">            
                <div>Temporary</div>                
                    <div>
                        <input class="number-input" type="number" name="tempHP">
                    </div>
            </div>

            <div class="text-border">    
                <div>Dying</div>
                    <div class="hero-points-div">                  
                        <input class="dying" type="checkbox" name="dyingCheck" value="dyingOne">
                        <input class="dying" type="checkbox" name="dyingCheck" value="dyingTwo">  
                        <input class="dying" type="checkbox" name="dyingCheck" value="dyingThree">        
                    </div>
            </div>

            <div class="text-border">    
                <div>Wounded</div>
                    <div class="hero-points-div">
                        <input type="checkbox" value="woundedOne" name="woundedCheck">
                        <input type="checkbox" value="woundedTwo" name="woundedCheck">  
                        <input type="checkbox" value="woundedThree" name="woundedCheck">        
            </div>                       
        <!-- </div>         -->
    </div>   
        <!-- stats and mods -->
        <div class="ability-container">              
            
            <div class="text-border"> 
                 <div class="ability-scores">Str</div>
                     <div>                                               
                         <input class="number-input" type="number" name="totalStr">   
                     </div>
                     <div class="mod-div">              
                        <span>+</span>
                        <input class="number-input" type="number" name="strMod">                        
                     </div> 
            </div>           
            <div class="text-border"> 
                <div class="ability-scores">Dex</div>
                    <div>                                               
                        <input class="number-input" type="number" name="totalDex">   
                    </div>
                    <div class="mod-div">              
                       <span>+</span>
                       <input class="number-input" type="number" name="dexMod">                        
                    </div> 
           </div>           
                 <div class="text-border"> 
                 <div class="ability-scores">Con</div>
                     <div>                                               
                         <input class="number-input" type="number" name="totalCon">   
                     </div>
                     <div class="mod-div">              
                        <span>+</span>
                        <input class="number-input" type="number" name="conMod">                        
                     </div> 
            </div>                            
                 <div class="text-border"> 
                 <div class="ability-scores">Int</div>
                     <div>                                               
                         <input class="number-input" type="number" name="totalInt">   
                     </div>
                     <div class="mod-div">              
                        <span>+</span>
                        <input class="number-input" type="number" name="intMod">                        
                     </div> 
            </div>             
                 <div class="text-border"> 
                 <div class="ability-scores">Wis</div>
                     <div>                                               
                         <input class="number-input" type="number" name="totalWis">   
                     </div>
                     <div class="mod-div">              
                        <span>+</span>
                        <input class="number-input" type="number" name="wisMod">                        
                     </div> 
            </div>           
             
                 <div class="text-border"> 
                 <div class="ability-scores">Cha</div>
                     <div>                                               
                         <input class="number-input" type="number" name="totalCha">   
                     </div>
                     <div class="mod-div">              
                        <span>+</span>
                        <input class="number-input" type="number" name="chaMod">                        
                     </div> 
            </div>           
         </div>
    </div>

    <!-- resistance and conditions -->
    <div class="resis-cond-container">
            <div class="text-border">    
                <div>Resistances/Immunities:</div> 
                    <div>
                        <textarea name="resistsImmunities" id="" cols="25" rows="3"></textarea>
                    </div>
                </div>

            <div class="text-border">    
                <div>Conditions:</div>
                    <div>
                        <textarea name="conditions" id="" cols="25" rows="3"></textarea>
                    </div> 
                </div>  
               
    <!-- saving throws -->     
        <div class="saving-throws-container">           
            <div class="titles">Saving Throws</div>
            
            <div class="saves">
                <div class="saves-text-main">
                    <div>Fort</div>
                        <div>
                            <input class="number-input" type="number" name="fortSave">
                        </div>             
                </div>
                <div class="saves-text">    
                    <div>Con</div>
                        <div>
                            <input class="number-input" type="number" name="fortMod"> 
                        </div>
                </div>
                <div class="saves-text">
                    <div>Prof</div>
                        <div>
                            <input class="number-input" type="number" name="fortProf">
                        </div>
                </div>
                <div class="saves-text">
                    <div>Item</div>
                        <div>
                            <input class="number-input" type="number" name="fortItem">                               
                        </div>
                </div>
                <div class="saves-text-check">                            
                    <div class="hero-points-div">
                        <input type="checkbox" value="plusTwo" name="fortCheck">
                        <input type="checkbox" value="plusFour" name="fortCheck">  
                        <input type="checkbox" value="plusSix" name="fortCheck">
                        <input type="checkbox" value="plusEight" name="fortCheck">        
                    </div>                            
                </div>
            </div>                 
            <!-- reflex -->
            <div class="saves">                                               
                <div class="saves-text-main">
                    <div>Reflex</div>
                        <div>
                            <input class="number-input" type="number" name="reflexSave">
                        </div>             
                </div>
                <div class="saves-text">    
                    <div>Dex</div>
                        <div>
                            <input class="number-input" type="number" name="reflexMod"> 
                        </div>
                </div>
                <div class="saves-text">
                    <div>Prof</div>
                        <div>
                            <input class="number-input" type="number" name="reflexProf">
                        </div>
                </div>
                <div class="saves-text">
                    <div>Item</div>
                        <div>
                            <input class="number-input" type="number" name="reflexItem">                               
                        </div>
                </div>
                <div class="saves-text-check">                            
                    <div class="hero-points-div">
                        <input type="checkbox" value="plusTwo" name="reflexCheck">
                        <input type="checkbox" value="plusFour" name="reflexCheck">  
                        <input type="checkbox" value="plusSix" name="reflexCheck">
                        <input type="checkbox" value="plusEight" name="reflexCheck">        
                    </div>                            
                </div>
        </div> 
            <!-- will --> 
            <div class="saves">                                      
                <div class="saves-text-main">
                    <div>Will</div>
                        <div>
                            <input class="number-input" type="number" name="willSave">
                        </div>             
                </div>
                <div class="saves-text">    
                    <div>Wis</div>
                        <div>
                            <input class="number-input" type="number" name="willMod"> 
                        </div>
                </div>
                <div class="saves-text">
                    <div>Prof</div>
                        <div>
                            <input class="number-input" type="number" name="willProf">
                        </div>
                </div>
                <div class="saves-text">
                    <div>Item</div>
                        <div>
                            <input class="number-input" type="number" name="willItem">                               
                        </div>
                </div>
                <div class="saves-text-check">                            
                    <div class="hero-points-div">
                        <input type="checkbox" value="plusTwo" name="willCheck">
                        <input type="checkbox" value="plusFour" name="willCheck">  
                        <input type="checkbox" value="plusSix" name="willCheck">
                        <input type="checkbox" value="plusEight" name="willCheck">        
                    </div>                           
                </div>
            </div>            
        </div>    
    </div>          

        <!-- dc's, ac -->    
     
    
    <div class="armor-container">    
        <div class="ac-style">
            <div>
                <input class="number-input" type="number" name="totalAC">
            </div>
            <div>= AC</div>
        </div>
        <div>Dex:</div>
            <div>
                <input class="number-input" type="number" name="acDexBonus"> 
            </div>            
        <div>Cap:</div>
            <div>
                <input class="number-input" type="number" name="acCap"> 
            </div>          
            <div class="hero-points-div">
                <input type="checkbox" value="plusTwo" name="acProfCheck">
                <input type="checkbox" value="plusFour" name="acProfCheck">  
                <input type="checkbox" value="plusSix" name="acProfCheck">
                <input type="checkbox" value="plusEight" name="acProfCheck">        
            </div>    
        <div>Item:</div>
            <div>
                <input class="number-input" type="number" name="acItemBonus">
            </div>
    </div>
    <!--armor type  -->
    <div class="armor-type-container">
        <div class="armor-type-text">            
            <div>Unarmored</div>
            <div class="hero-points-div">
                <input type="checkbox" value="plusTwo" name="unarmoredProf">
                <input type="checkbox" value="plusFour" name="unarmoredProf">  
                <input type="checkbox" value="plusSix" name="unarmoredProf">
                <input type="checkbox" value="plusEight" name="unarmoredProf">        
            </div> 
        </div>

        <div class="armor-type-text"> 
            <div>Light</div>
            <div class="hero-points-div">
                <input type="checkbox" value="plusTwo" name="lightArmorCheck">
                <input type="checkbox" value="plusFour" name="lightArmorCheck">  
                <input type="checkbox" value="plusSix" name="lightArmorCheck">
                <input type="checkbox" value="plusEight" name="lightArmorCheck">        
            </div>  
        </div>
        <div class="armor-type-text"> 
            <div>Medium</div>
            <div class="hero-points-div">
                <input type="checkbox" value="plusTwo" name="mediumArmorCheck">
                <input type="checkbox" value="plusFour" name="mediumArmorCheck">  
                <input type="checkbox" value="plusSix" name="mediumArmorCheck">
                <input type="checkbox" value="plusEight" name="mediumArmorCheck">        
            </div>  
        </div>
        <div class="armor-type-text"> 
            <div>Heavy</div>       
            <div class="hero-points-div">
                <input type="checkbox" value="plusTwo" name="heavyArmorCheck">
                <input type="checkbox" value="plusFour" name="heavyArmorCheck">  
                <input type="checkbox" value="plusSix" name="heavyArmorCheck">
                <input type="checkbox" value="plusEight" name="heavyArmorCheck">        
            </div>   
        </div>       
    </div>
    <!-- shield info -->
    <div class="shield-header" id="shield-title">
        <button type="button" id="shield-button">Show Shield</button>        
    </div>

    <div class="shield-container" id="shield-info">        
        <div class="armor-type-text">           
            <div>Raise</div>            
                <!-- <div> -->
                   <!-- <span>+<input class="number-input" type="number">AC</span> -->
                   <div class="shieldac-div">              
                    <span>+</span>
                    <input class="number-input" type="number" name="shieldAC">   
                    <span>AC</span>                     
                 </div>
                <!-- </div>         -->
            </div>
        <div class="armor-type-text"> 
            <div>Hardness</div>
                <div>
                    <input class="number-input" type="number" name="hardness"> 
                </div>
        </div>
        <div class="armor-type-text"> 
            <div>Max HP</div>
                <div>
                    <input class="number-input" type="number" name="shieldHP">                     
                </div>
        </div>
        <div class="armor-type-text"> 
            <div>Break</div>
                <div>
                    <input class="number-input" type="number" name="shieldBreak"> 
                </div>
        </div>
        <div class="armor-type-text"> 
            <div>Current HP</div>
                <div>   
                    <input class="number-input" type="number" name="shieldCurrentHP"> 
                </div>  
        </div>   
    </div>
    
    <div class="classdc-container">                 
        <div class="ac-style">                               
            <div>   
                <input class="number-input" type="number" name="classDC">           
            </div>
            <div>= Class DC</div>             
        </div>
        <div>Key:</div>
            <div>                                
                <input class="number-input" type="number" name="classKey"> 
            </div>
        <div>Prof:</div>
            <div>                     
                <input class="number-input" type="number" name="classDCProf">
            </div>
    
            <div class="hero-points-div">
                <input type="checkbox" value="plusTwo" name="classDcCheck">
                <input type="checkbox" value="plusFour" name="classDcCheck">  
                <input type="checkbox" value="plusSix" name="classDcCheck">
                <input type="checkbox" value="plusEight" name="classDcCheck">        
            </div>

    <div>Item:</div>
        <div>
            <input class="number-input" type="number" name="classDCItem">
        </div>                                                
</div>

    <!-- Perception Info -->
    <div class="perception-container">           
        <div class="ac-style">                               
            <div>   
                <input class="number-input" type="number" name="perception">           
            </div>
            <div>= Perception</div>             
        </div>

        <div>Wis:</div>                
            <div>
               <input class="number-input" type="number" name="wisBonus">
            </div>

        <div>Prof:</div>            
            <div>
                <input class="number-input" type="number" name="perceptionProf">
            </div>

            <div class="hero-points-div">
                <input type="checkbox" value="plusTwo" name="perceptionCheck">
                <input type="checkbox" value="plusFour" name="perceptionCheck">  
                <input type="checkbox" value="plusSix" name="perceptionCheck">
                <input type="checkbox" value="plusEighunarmedC" name="perceptionCheck">        
            </div>   
    </div>                            
            
    <!-- senses text box -->
    <div class="senses">
        <div>Senses:</div>
            <div>
                <textarea name="body" id="" cols="25" rows="3" name="senses"></textarea>
            </div>        
    </div>    

    <!-- Weapons -->
<div class="weapon-container">
    <span class="titles">Weapon Information</span>    

<!-- Weapon Proficiencies  -->
<div class="weapon-prof-container">
    <div>         
        <span>Proficiencies</span>
    </div>
    <div class="weapon-prof-divs">
        <div>           
            <div>Unarmed</div>
            <div class="weapon-prof-checks">
                <input type="checkbox" value="plusTwo" name="unarmedCheck">
                <input type="checkbox" value="plusFour" name="unarmedCheck">  
                <input type="checkbox" value="plusSix" name="unarmedCheck">
                <input type="checkbox" value="plusEight" name="unarmedCheck">        
            </div>    
        </div>    
        <div>         
            <div>Simple</div>
            <div class="weapon-prof-checks">
                <input type="checkbox" value="plusTwo" name="simpleCheck">
                <input type="checkbox" value="plusFour" name="simpleCheck">  
                <input type="checkbox" value="plusSix" name="simpleCheck">
                <input type="checkbox" value="plusEight" name="simpleCheck">        
            </div>    
        </div>
        <div>            
            <div>Martial</div>
            <div class="weapon-prof-checks">
                <input type="checkbox" value="plusTwo" name="martialCheck">
                <input type="checkbox" value="plusFour" name="martialCheck">  
                <input type="checkbox" value="plusSix" name="martialCheck">
                <input type="checkbox" value="plusEight" name="martialCheck">        
            </div>
        </div>
        <div>            
            <div>Advanced</div>
            <div class="weapon-prof-checks">
                <input type="checkbox" value="plusTwo" name="advancedCheck">
                <input type="checkbox" value="plusFour" name="advancedCheck">  
                <input type="checkbox" value="plusSix" name="advancedCheck">
                <input type="checkbox" value="plusEight" name="advancedCheck">        
            </div>
        </div>
    </div>     
</div>  

<div id="weapon-button">
    <button type="button">Add Weapon</button>
</div>
      
        <!-- Melee -->       
           
            <div class="melee-weapon-div" id="melee-weapon">
                <div>
                    <div>
                        <span>Weapon Name</span>
                    </div>
                    <input type="text" name="addWeapon" id="">
                </div>

                <div class="damage-die">
                    <div>
                        <span>Attack</span>
                    </div>
                    <input class="number-input" type="number" name="attackDie">
                    <span>d</span>
                    <input class="number-input" type="number" name="damageDie">
                    <select name="damageTypeWeapon" id="">
                        <option value="P">P</option>
                        <option value="S">S</option>
                        <option value="B">B</option>                        
                    </select>
                </div>

                <div class="weapon-prof-list">
                    <div>Type</div>
                    <select name="weaponProfType" id="">
                        <option value="Unarmed">Unarmed</option>
                        <option value="Simple">Simple</option>
                        <option value="Martial">Martial</option>
                        <option value="Advanced">Advanced</option>                        
                    </select>
                </div>               

                <div class="versatile">
                    <div>
                        <span>Versatile</span>
                    </div>
                    <select name="weaponDmgType" id="">
                        <option value="blank"></option>
                        <option value="P">P</option>
                        <option value="S">S</option>
                        <option value="B">B</option>                        
                    </select>
                </div>

                <div class="other-traits">
                    <div>
                        <span>Other Traits</span>
                    </div>
                    <div>
                        <textarea name="otherTraits" id="" cols="30" rows="2"></textarea>
                    </div>
                </div>
            </div>      

            <!-- Ranged -->
            <div class="range-weapon-div">
                <div>
                    <div>
                        <span>Weapon Name</span>
                    </div>
                    <input type="text" name="rangeWeaponName" id="">
                </div>

                <div class="damage-die">
                    <div>
                        <span>Attack</span>
                    </div>
                    <input class="number-input" type="number" name="rangeAtkDie">
                    <span>d</span>
                    <input class="number-input" type="number" name="rangeDmgDie">
                    <select name="rangeDmgType" id="">
                        <option value="P">P</option>
                        <option value="S">S</option>
                        <option value="B">B</option>                        
                    </select>
                </div>

                <div class="weapon-prof-list">
                    <div>Type</div>
                    <select name="rangeProfType" id="">
                        <option value="Unarmed">Unarmed</option>
                        <option value="Simple">Simple</option>
                        <option value="Martial">Martial</option>
                        <option value="Advanced">Advanced</option>                        
                    </select>
                </div>        

                <div class="range">
                    <div>
                        <span>Range</span>
                    </div>
                    <input class="number-input" type="number" name="weaponRange">
                </div>

                <div class="reload">
                    <div>
                        <span>Reload</span>
                    </div>
                    <input class="number-input" type="number" name="rangeReload">
                </div>

                <div class="other-traits">
                    <div>
                        <span>Other Traits</span>
                    </div>
                    <div>
                        <textarea name="rangeTraits" id="" cols="30" rows="2"></textarea>
                    </div>
                </div>
            </div> 
    </div>           
       
    </section> <!--main container right-->
    
</section> <!-- main container--> 
 <!-- </form> -->

</body>
<script type="text/javascript" src="js/main.js"></script>

<!-- ckeditor, might try it out in the future, linked and script below -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/ckeditor/4.19.1/ckeditor.js" integrity="sha512-Ooi9IbjM2SIDjQ02ENbPFuuORT8F8Rc+rowcYfLneDwKRxw1+gVVj5tciVmV/APnA/Ys+qy1MbNKK3k2EaAHcw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> -->

<!-- <script>
    CKEDITOR.replace('body', {
        plugins: 'wysiwygarea, toolbar, basicstyles, link'
    })
</script> -->
<!-- ---------------- -->

</html>