<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=David+Libre:wght@400;700&family=Montserrat:wght@200&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/d8f5f7035a.js" crossorigin="anonymous"></script>
    <title>Login Page - Character Manager</title>
</head>
<body>
    <!--general app info-->
    <main>
        <div class="container">
            <h1>Character Manager</h1>
                
                <div class="para">
                    <span>Note:</span>
                    <p>This is starting out as a simple Character Mananger for a home game of PF2e with plans on implementing better features in the future to expand on game systems and rulesets.</p>
                    <span class="span-2">Version: 0.1</span>
                </div>
        </div>          
    <!--    end general app info -->

    <!--    login info  -->
        <div class="cont-2">
            <div class="login">
                <h2>Login in to your account:</h2>
                <a href="/auth/google" class="button">LOG IN WITH
                <i class="fab fa-google right"></i></a>
            </div>              
        </div>
    <!--end login info -->

    <!--right side bg photo -->
        <section class="picture">
            <div class="pic-div">        
                <img src="imgs/pf2e-resized.jpg" alt="chatacter pictures">
            </div>
        </section>
        
    
    <!--end right side bg photo -->

    <!--foot info -->
    <footer>

        <div class="contact">
            <a href="mailto:tartCodes@gmail.com"><span>Email Me</span></a>
        </div>      

        <div class="social-cont">
            <ul class="social-icons"> 
                <li><a href="https://github.com/TartCodes" target="_blank"><i class="fa-brands fa-github-square"></i></a></li>
                <li><a href="https://www.linkedin.com/in/matt-tartaglione/" target="_blank"><i class="fa-brands fa-linkedin"></i></a></li>
                <li><a href="https://twitter.com/TartCodes" target="_blank"><i class="fa-brands fa-twitter-square"></i></a></li>
                               
            </ul>
        </div>

        <div class="foot-note">
            <p> &copy; 2022 Character Manager By TartCodes</br>
             All images property of Paizo Inc. </p>                
        </div>

    </footer>
    <!-- end footer info -->
</main>
</body>

<script type="text/javascript" src="js/main.js"></script>
</html>